:host {
  padding: 0em;
  display: flex;
  flex-flow: column;
}

:host > section.root {
  flex: 1 1;
  margin: 0;
  padding: 0.25em;
}

.delete-button {
  margin: auto;
  display: block;
  text-align: center;
}

.list-title {
  text-align: center;
}

h3 {
  display: inline-block;
  margin: 0;
}
