<mat-card>
  <mat-list>
    <div class="list-title">
      <h3 *ngIf="!isEditingName()">{{list.name}}</h3>
      <form *ngIf="isEditingName()" (submit)="setName(newName.value)">
        <mat-form-field>
          <input matInput #newName type="text" [value]="list.name">
        </mat-form-field>
      </form>
      <button *ngIf="!isEditingName()" mat-icon-button (click)="editName(true)">
        <i class="material-icons">mode_edit</i>
      </button>
    </div>

    <div class="items" todoDropTarget (todoDrop)="addToList($event)">
      <app-todo-item *ngFor="let item of list.items"
        [clock]="item.clock"
        [item]="item"
        [listId]="list.id">
      </app-todo-item>
    </div>

    <form (ngSubmit)="createItem(newItemLabel.value); newItemLabel.value=''">
      <button mat-icon-button><i class="material-icons">note_add</i></button>
      <mat-form-field>
        <input matInput #newItemLabel placeholder="Nouvelle tâche">
      </mat-form-field>
    </form>

    <div class="delete-button">
      <button class="delete-list" mat-icon-button (click)="openDeleteModal()">
        <i class="material-icons">delete_forever</i>
      </button>
    </div>

  </mat-list>
</mat-card>
