header {
  display: flex;
  flex-flow: row;
  background: #fff;
  margin: 0;
  padding: 0.5em;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(150,150,150,1);
  -moz-box-shadow: 0px 1px 3px 1px rgba(150,150,150,1);
  box-shadow: 0px 1px 3px 1px rgba(150,150,150,1);
}

header > h2 {
  margin:auto;
}

header > section.user {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
}

header img.photo {
  width: 6em;
  height: 6em;
  margin-left: 1em;
}

section.connection {
  padding: 0;
  margin: 0;
  flex: 1 1;
}

section.connection > label:hover {
  background: yellow;
}
