<mat-list-item>

  <mat-checkbox *ngIf="!isEditingLabel()">{{item.label}}</mat-checkbox>
  <button *ngIf="!isEditingLabel()" mat-icon-button (click)="editLabel(true)">
    <i class="material-icons">mode_edit</i>
  </button>

  <form *ngIf="isEditingLabel()" (submit)="setLabel(newLabel.value)">
    <mat-form-field>
      <input matInput #newLabel type="text" [value]="item.label">
    </mat-form-field>
  </form>
  <button *ngIf="!isEditingLabel()" mat-icon-button (click)="openDeleteModal()">
    <i class="material-icons">delete</i>
  </button>

</mat-list-item>
