/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Gravity;
    src: url(./data/fonts/gravity/Gravity-Regular.otf);
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
	background-color: #e0e4e5;
	font-family: 'Gravity', 'sans-serif';
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
	background-color: #fff !important;
}

.mat-snack-bar-container {
  width: 200px !important;
  text-align: center !important;
  margin: auto !important;
}

.mat-list-item:hover {
  background-color: #ddd;
}

.mat-simple-snackbar {
  text-align: center;
}

.items {
  min-height: 48px;
}

.todo-drag-over {
  background-color: #ddd;
}

.draggable {
  cursor: move;
}

.dialog h1 {
	text-align: center;
}

.mat-dialog-content {
	text-align: center;
}

.mat-dialog-actions button {
	margin: auto;
}

.hidden {
	display: none !important;
}

@media only screen and (max-width: 450px) {

	app-todo-item {
		display: none;
	}

	mat-list form {
		display: none;
	}

	app-todo-list {
		min-width: 300px;
		margin: 1em auto !important;
	}

}
